@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

body {
  margin: 0;
  font-family: "Heebo", sans-serif;
  color: var(--black);
}

/* some of these colors are also written in the mui theme */

:root {
  --black: #333;
  --black-transparent: #3333333d;
  --white: white;
  --white-transparent: #ffffff3d;
  --very-light-grey: #eee;
  --orange: #d0441c;
  --orange-light: #e87655;
  --grey-light: #dad5d3;
  --grey: #8d8886;
  --grey-dark: #605d5c;
  --shadow: #03002941;

  /* the padding to be used in the app */
  --padding: 10px;
  --padding-large: 20px;

  /* border */
  --border: 5px;

  /* margin */
  --margin-small: 5px;
  --margin: 10px;
  --margin-large: 20px;

  /* gap */
  --gap: 10px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: var(--margin-small) 0px;
}

#app-container {
  display: grid;

  /* the header and footer take up the space that they need 
  and the body of the app fills up the rest of the view */
  grid-template-rows: max-content 1fr max-content;

  /* App is at least as tall as the view height */
  min-height: 100vh;
}

.content-holder {
  /* grid display so the children can be 100% of its height */
  display: grid;

  /* width and height are both:
    100% the parent element - the margin * 2 - the padding * 2
  */
  width: calc(100% - var(--margin-large) * 2);
  min-height: calc(100% - var(--margin-large) * 2);

  /* margin and padding are set to the margin and padding variables */
  margin: var(--margin-large) auto;
  /* padding: var(--padding); */

  /* border puts a border around the content */
  border: 2px solid var(--grey-light);

  border-radius: var(--border);
}

/* GLOBAL STYLING */
.list-card {
  padding: var(--padding-large);

  border: 2px solid var(--grey-light);

  border-radius: var(--border);

  margin: var(--margin) var(--margin-large);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .list-card:hover {
  background-color: var(--very-light-grey);
} */

.list-card .card-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-card .card-info-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: var(--gap);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--padding-large);
  padding: 20px;
  background-color: var(--very-light-grey);
}

.code-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: var(--padding-large);
}

.code {
  background-color: black;
  color: white;
  width: 170px;
  text-align: center;
}

.card-body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
  padding: 20px 0px;
}

.card-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: var(--padding-large);
  padding: 0px 20px;
}

.form-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--padding-large);
  width: 95%;
  margin: auto;
}

.modal-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--padding-large);
  padding-bottom: var(--padding-large);
  margin: auto;
}

.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 30px 0px;
}

.modal-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
  width: 65%;
}

.modal-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}

.modal-icon {
  color: var(--orange-light);
}
