.proposal-general-container {
  padding: var(--padding);

  display: grid;
  gap: var(--padding);
}

.proposal-general-container .partner-info {
  background-color: var(--very-light-grey);

  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;

  padding: var(--padding);
}

.proposal-general-container .general-info .inputs{
  display: flex;
  flex-wrap: wrap;

  width: 90%;

  align-items: center;
  gap: var(--padding);
  
  padding: var(--padding);
  margin: auto;
}

.proposal-general-container .shipping-installation .inputs{
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  gap: var(--padding);

  width: 90%;

  padding: var(--padding);
  margin: auto;
}