.nav {
  /* flex box layout */
  /* display: flex;
  justify-content: space-between;
  align-items: center; */

  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;

  height: min-content;

  padding: var(--padding-large);

  background-color: var(--grey-dark);
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: var(--white);
}

.navLink {
  display: inline-block;
  color: var(--white);
  background-color: var(--grey-dark);
  text-align: center;
  /* padding: 24px 10px; */
  padding: var(--padding);

  border-radius: var(--border);

  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: var(--grey);
}

#home-button {
  color: var(--white);
}

#home-button:hover {
  background-color: var(--white-transparent);
}

.app-title {
  color: var(--white);
}

.left-nav {
  text-align: left;
}

.right-nav {
  text-align: right;
}

#login-button {
  color: var(--white);
}

#login-button a {
  color: var(--white);
}

#login-button:hover {
  background-color: var(--white-transparent);
}